<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add a Recipe</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script>
        var app = angular.module('myApp', []);
        app.controller('addRecipeCtrl', function ($scope, $http) {

            $scope.ingredients = [];
            $scope.recipe = {
                name: '',
                ingredients: []
            };
            // Function to reset scope variables
            $scope.reset = function () {
                $scope.recipe = {
                    name: '',
                    price: '',
                    ingredients: []
                };
                if (undefined != $scope.addRecipeForm) {
                    $scope.addRecipeForm.$setPristine(); // reset Form
                }
            }
            // Get all the available ingredients
            $scope.getIngredients = function () {
                $http.get("/api/v1/ingredients").then(function (response) {
                    $scope.ingredients = response.data.map(function (ingredient) {
                        ingredient.selected = false; // Add a selected property for the checkbox
                        ingredient.amount = 0; // Initialize amount for user input
                        return ingredient;
                    });
                });
            };

            // Update recipe with new ingredients
            $scope.updateSelectedIngredients = function () {
                $scope.recipe.ingredients = $scope.ingredients
                    .filter(ingredient => ingredient.selected)
                    .map(ingredient => ({
                        name: ingredient.name,
                        amount: ingredient.amount
                    }));
            };
            // Add the recipe
            $scope.addRecipe = function () {
            	// Add Checks
            	$scope.recipes = [];
            	$http.get("/api/v1/recipes").then(function (response) {
            		$scope.recipes = response.data;
                    console.log(response.data);
                });
/*             	// Check for duplicate ingredient
				for (let i = 0; i < $scope.recipes.length; i++) {
					if ($scope.recipes[i].name.toLowerCase() === $scope.recipe.name.toLowerCase()) {
						alert('Duplicate Ingredient');
						return;
					}
				} */
				$scope.submissionFailure = false;
				$scope.submissionSuccess = false;
                $http.post("/api/v1/recipes", $scope.recipe).then(function (response) {
                    console.log(response.data);
					$scope.submissionSuccess = true;
                }, function(errResponse) {
					console.log(errResponse);
					$scope.submissionFailure = true;
					$scope.error = errResponse.data.message;
				});
                $scope.reset();
            };
            // Get all the available ingredients
            $scope.getIngredients();
            $scope.reset();
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="addRecipeCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">Add a Recipe</span>
		</div>
		<form ng-submit="addRecipe()" name="addRecipeForm"
			class="form-horizontal">
			<div class="form-group col-md-12">
				<label>Name</label> <input type="text" ng-model="recipe.name"
					required>
			</div>
			<div class="form-group col-md-12">
				<label>Price</label> 
				<input name="price" type="number" ng-model="recipe.price"required min="1">
				<div class="has-error" ng-show="addRecipeForm.$dirty">
					<span ng-show="addRecipeForm.price.$error.required">This
										is a required field.</span> <span
										ng-show="addRecipeForm.price.$error.min">Minimum
										amount is 1.</span> <span ng-show="addRecipeForm.price.$invalid">This
										field is invalid.</span>
				</div>
			</div>
			<h3>Ingredients</h3>
			<div ng-repeat="ingredient in ingredients">
				<input type="checkbox" ng-model="ingredient.selected"
					ng-change="updateSelectedIngredients()">
				{{ingredient.name}} 
				<input type="number"
					ng-model="ingredient.amount" ng-disabled="!ingredient.selected"
					placeholder="Amount" min="0"
					ng-change="updateSelectedIngredients()">
			</div>

			<div class="form-actions">
				<input type="submit" value="Submit" class="btn btn-primary"
					ng-disabled="addRecipeForm.$invalid">
				<button type="button" ng-click="reset()" class="btn btn-warning">Reset
					Form</button>
			</div>
		</form>
		<div ng-show="submissionSuccess">Recipe Created</div>
		<div ng-show="submissionFailure">An error occurred: {{error}}</div>
		<a href="/index">Home</a>
	</div>
</body>

</html>